/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Form container styles */
form {
    background-color: #fff;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Limit max size */
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Label styles */
label {
    display: block;
    font-weight: bold;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Prevents overflowing */
}
#btn_volver{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Prevents overflowing */
}

/* Submit button styles */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width for better alignment */
}

input[type="submit"]:hover {
    background-color: #45a049;
}
